@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
$body-color: #fff;
$font-family-sans-serif: Roboto;
$navbar-dark-color: #fff;
$navbar-dark-hover-color: #dac493;
$navbar-dark-active-color: #dac493;
$navbar-nav-link-padding-x: 2rem;
$navbar-padding-y: 1rem;

@import "../node_modules/bootstrap/scss/bootstrap";

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    filter: blur(6px);
  }
}
.navbar-brand img {
  @include media-breakpoint-down(md) {
    width: 6rem;
    padding-left: 1rem;
  }
}

#intro {
  height: 100vh;
  .container {
    height: 100%;
    padding-top: 23vh;
    .main-lead {
      @include media-breakpoint-up(md) {
        font-size: rfs-fluid-value(4rem);
        font-weight: 700;
        line-height: 0.9;
      }
    }
    .description {
      @include media-breakpoint-up(md) {
        font-size: rfs-fluid-value(1.8rem);
        line-height: 1.9;
      }
    }
  }
}
#services {
  .container {
    height: 100%;
    padding-top: 23vh;
    .col {
      margin-bottom: 3rem;
    }
    .card {
      @include media-breakpoint-up(lg) {
        height: 65vh;
      }
    }
  }
}
#contactus {
  .container {
    height: 100vh;
    padding-top: 23vh;
  }
}

footer {
  position: relative;
  .navbar-dark .navbar-text {
    color: #dac493;
  }
  .arrow{
    position: absolute;
    bottom:100px;
    right: 30px;
    transform: rotate(180deg);
  }
}

